<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8">
  <title>Try</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<nav class="ps-4 navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/index">Tingeso :D</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/upload-data">Cargar Marcaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/upload-justifive">Cargar Justificativos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/salary/sheet-salary">Plantilla de sueldos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/salary/reports">Reportes de sueldos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container "></div>
<div class="col-5 px-5 mx-5 mt-3"><h1>Hubo problemas con el justificativo</h1></div>


</body>
</html>