<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8">
  <title>Try</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<nav class="ps-4 navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/index">Tingeso :D</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/upload-data">Cargar Marcaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/upload-justifive">Cargar Justificativos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/salary/sheet-salary">Plantilla de sueldos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/salary/reports">Reportes de sueldos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
<!--  alert de success-->
  <div class="mt-2 alert alert-success row justify-content-between" role="alert" id="alert-success" th:if="${rejected} == '1'">
    <div class="mt-2 col">
      <p style="display: inline;">El justificativo se ingreso correctamente :D </p>
    </div>
    <div class="col-1 mt-1">
      <button type="button" class="btn btn-success my-0" id="btnAlert-success">Close</button>
    </div>
  </div>
<!--  alert de rechazo-->
  <div class="mt-2 alert alert-warning row justify-content-between" role="alert" id="alert" th:if="${rejected} == '1'">
    <div class="mt-2 col">
      <p style="display: inline;">Hubo un problema con el justificativo, intentalo nuevamente</p>
    </div>
    <div class="col-1 mt-1">
      <button type="button" class="btn btn-warning my-0" id="btnAlert">Close</button>
    </div>
  </div>

  <div class="mt-1 mb-0 px-5 py-3 col-4">
    <label class="form-label ps-1"> Tipo de justiticativo</label>
    <select class="form-select" aria-label="Default select example" id="type-justifive">
      <option selected value="0">Seleccionar tipo de justificativo</option>
      <option value="1">Horas extras</option>
      <option value="2">Atrasos y Faltas</option>
    </select>
  </div>

  <!--Justificativo de atraso-->
  <div id="div-justificativo-falta" class="px-5" hidden>
    <h3>Justificativo de atraso</h3>
    <form action="#" th:action="@{/upload-justifive/0}" method="post" th:name="form"></form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Rut</label>
        <input name="rut" placeholder="Ingrese el rut del empleado" type="text" class="form-control" id="rut-retrasos" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Fecha</label>
        <input type="date" name="date" class="form-control" id="date-retrasos">
        <div id="date-retrasos" class="form-text">Ingrese la fecha del día de atraso</div>
      </div>
      <button id="button-retrasos" class="btn btn-primary">Crear</button>
  </div>

  <!--Justificativo de Horas extras-->
  <div id="div-justificativo-horas-extras" class="px-5" hidden>
    <h3>Justificativo de horas extras</h3>
    <form action="#" th:action="@{/upload-justifive/1}" method="post" th:name="form">
      <fieldset>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Rut</label>
        <input name="rut" placeholder="Ingrese el rut del empleado" type="text" class="form-control" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Fecha</label>
        <input type="date" name="date" class="form-control" id="date-horas-extras">
        <div  id="date-horas-extras" class="form-text">Ingrese la fecha del día</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Cantidad de horas</label>
        <input name="amount" field="justificationEntity.amount" type="number" class="form-control" id="amount-horas-extras">
      </div>
      </fieldset>
      <button id="button-horas-extras" class="btn btn-primary">Crear</button>
    </form>
  </div>
</div>
</body>
</html>

<script
        src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
        integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"
></script>
<script type="text/javascript">

  document.getElementById("type-justifive").addEventListener("change",()=>{
    let valorSeleccionado = document.getElementById("type-justifive").value;
    if(valorSeleccionado == "0"){
      document.getElementById("div-justificativo-falta").setAttribute("hidden",true);
      document.getElementById("div-justificativo-horas-extras").setAttribute("hidden",true);
    }else if (valorSeleccionado == "1"){
      document.getElementById("div-justificativo-falta").setAttribute("hidden",true);
      document.getElementById("div-justificativo-horas-extras").removeAttribute("hidden");
    }else if(valorSeleccionado == "2"){
      document.getElementById("div-justificativo-falta").removeAttribute("hidden");
      document.getElementById("div-justificativo-horas-extras").setAttribute("hidden",true);
    }

    document.getElementById("button-horas-extras").addEventListener("click",()=>{
      let rutValue = document.getElementById("rut-horas-extras").value;
      let dateValue = document.getElementById("date-horas-extras").value;
      let amountValue = document.getElementById("amount-horas-extras").value;
      axios.post("http://localhost:8090/"+"1/"+rutValue,
              {
                "date" : dateValue,
                "amount" : amountValue
              }
      ).then(response => {
        if(response.data == 1){
          document.getElementById("alert").removeAttribute("hidden");
          document.getElementById("alert-success").setAttribute("hidden",true);
        }else{
          document.getElementById("alert-success").removeAttribute("hidden");
          document.getElementById("alert").setAttribute("hidden",true);
          document.getElementById("rut-horas-extras").value = "";
          document.getElementById("date-horas-extras").value = "";
          document.getElementById("amount-horas-extras").value = "";
        }
      }).catch(error => {
        document.getElementById("alert").removeAttribute("hidden");
      })
    })

    document.getElementById("button-retrasos").addEventListener("click",()=>{
      let rutValue = document.getElementById("rut-retrasos").value;
      let dateValue = document.getElementById("date-retrasos").value;
      axios.post("http://localhost:8090/"+"0/"+rutValue,
              {
                "date" : dateValue,
              }
      ).then(response => {
        console.log("Se ejecuto correctamente");
        if(response.data == 1){
          document.getElementById("alert").removeAttribute("hidden");
          document.getElementById("alert-success").setAttribute("hidden",true);
        }else{
          document.getElementById("alert-success").removeAttribute("hidden");
          document.getElementById("alert").setAttribute("hidden",true);
          document.getElementById("rut-retrasos").value = "";
          document.getElementById("date-retrasos").value = "";
        }
      }).catch(error => {
        document.getElementById("alert").removeAttribute("hidden");
      })
    })
  })

  document.getElementById("btnAlert").addEventListener("click",() =>{
    document.getElementById("alert").setAttribute("hidden",true);
  })

  document.getElementById("btnAlert-success").addEventListener("click",() =>{
    document.getElementById("alert-success").setAttribute("hidden",true);
  })
</script>